// team
// Блок
.team {
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-background-color);
}

// Элемент
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

// Элемент
.team__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  list-style: none;
  margin: 0;
}

// Элемент
.team__item {
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

// Элемент
.team__photo {
  display: block;
}

// Элемент
.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

// Элемент
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

// Элемент
.team__prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;
  color: $secondary-text-color;
}

// team-social
// Блок
.team-social {
  list-style: none;
  display: flex;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  justify-content: space-between;
}

// Элемент
.team-social__link {
  display: block;
  width: 44px;
  height: 44px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 0;
  background-color: $white-color;

  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: $accent-color;
  }
}

// Элемент
.team-social__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .team-social__link:hover &,
  .team-social__link:focus & {
    fill: $white-color;
  }
}
