$primary-text-color: #212121;
$secondary-text-color: #757575;
$white-color: #ffffff;
$accent-color: #2196f3;
$logo-color: #000000;
$contacts-text-color: rgba(255, 255, 255, 0.6);
$hero-background-color: #2f303a;
$team-background-color: #f5f4fa;
$icon-color: #afb1b8;
$example-description-color: rgba(33, 150, 243, 0.9);
$modal-overlay-color: rgba(0, 0, 0, 0.2);
$button-focus-color: #188ce8;

$main-font-family: Roboto, sans-serif;
$logo-font-family: Raleway, sans-serif;
